.intro_container {
	margin: 40px 15px;
}

.intro_list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.intro_list-item {
	display: flex;
	flex: 0 1 40%;
	margin: 20px;
}

.intro_list-item_icon-container {
	margin: 0 10px;
	height: 48px;
	background: #292828;
	border-radius: 50%;
	border: 2px solid #caa83e;
}

.intro_list-item_icon {
	margin: 10px;
}

.intro_list-item_desc {
	line-height: 28px;
}
