body {
	background: radial-gradient(
		74.83% 147.97% at 74.83% 50%,
		#373c39 0%,
		#292828 100%
	);
	font-family: Comfortaa;
	font-style: normal;
	color: #e6e6e6;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

h1 {
	font-size: 32px;
}

p,
a,
button,
li,
i,
span {
	margin: 10px 0;
	font-size: 18px;
	font-weight: lighter;
	line-height: 24px;
}

section {
	display: inline-block;
	margin: 40px 15px;
	max-width: 1150px;
}

.background-aesthetics {
	position: absolute;

	span {
		position: absolute;
		top: -50px;
		width: 100vw;
	}
}

.box-1 {
	height: 330px;
	background: linear-gradient(90deg, #292828, #232323);
	border-bottom: 1px solid #caa83e30;

	transform: skewY(-8deg);
	transform-origin: top left;
	z-index: -10;
}

.box-2 {
	height: 230px;
	background: linear-gradient(to left, #292929, #232323);
	transform: skewY(16deg);
	transform-origin: top right;
	z-index: -20;
}

.content_container {
	display: flex;
	flex-direction: column;
	margin: 40px 9.6%;
}
